:root {
    --accent-color: #FF6B08;
    --main-black: #000000;
    --main-red: #FF001B;
    --footer-color: #545454;
    --bg-color: #F7F7F7;
    --logo-color: #818181;
    --modal-descr-color: #8C8C8C;
}