html {
  --accent-color: #ff6b08;
  --main-black: #000000;
  --main-red: #ff001b;
  --footer-color: #545454;
  --bg-color: #f7f7f7;
  --logo-color: #818181;
  --modal-descr-color: #8c8c8c;

  @media (prefers-color-scheme: dark) {
      --bg-color: #2a2828;

      body {
        background-color: #212121;
        color: #f7f7f7;
      }
}
}