<div class="footer-backdrop visually-hidden" data-footer-modal>
  <div class="footer-modal">
    <button data-modal-close class="close-button">
      <svg class="close-button__icon" width="30" height="30">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="team-title-container">
      <picture class="codebasters-logo"
        ><source srcset="./images/code-busters@1x.png 1x, ./images/code-busters@2x.png 2x" />
        <img src="./images/code-busters@1x.png" alt="CodeBusters logo" width="30" height="30"
      /></picture>
      <h2 class="team-title">
        Code<span class="codebusters-logo-item">Busters</span>
        <span class="team-title-item">team</span> Members:
      </h2>
    </div>
    <ul class="team-list list">
      <li class="team-item">
        <div class="team-container">
          <picture>
            <source
              srcset="./images/mobile/alex-320@1x.jpg 1x, ./images/mobile/alex-320@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./images/tablet/alex-768@1x.jpg 1x, ./images/tablet/alex-768@2x.jpg 2x"
              media="(min-width: 768px) and (max-width: 1023px)"
            />
            <source
              srcset="./images/desktop/alex-1024@1x.jpg 1x, ./images/desktop/alex-1024@2x.jpg 2x"
              media="(min-width: 1024px)"
            />
            <img src="./images/mobile/alex-320@1x.jpg" alt="Photo of Oleksii Kikot" />
          </picture>
          <p class="team-container-text">
            Hobbies :<br />basketball, motorbikes, visiting low-key famous places<br />
            Dreams :<br />
            exploring the world until i can breathe and becoming a reliant human being<br />
            from: Odessa<br />Ukraine
          </p>
        </div>

        <div class="team-list-container">
          <h3 class="team-list-title">Oleksii Kikot</h3>
          <p class="team-list-text">Team Leader</p>
          <ul class="team-contacts">
            <li class="team-contacts-item">
              <a
                href="https://github.com/zeddjke"
                class="team-social-link link"
                target="_blank"
                aria-label="github"
              >
                <svg class="team-social-icon icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-item">
        <div class="team-container">
          <picture>
            <source
              srcset="./images/mobile/bogdan-320@1x.jpg 1x, ./images/mobile/bogdan-320@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./images/tablet/bogdan-768@1x.jpg 1x, ./images/tablet/bogdan-768@2x.jpg 2x"
              media="(min-width: 768px) and (max-width: 1023px)"
            />
            <source
              srcset="
                ./images/desktop/bogdan-1024@1x.jpg 1x,
                ./images/desktop/bogdan-1024@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img src="./images/mobile/bogdan-320@1x.jpg" alt="Photo of Bohdan Mrichko" />
          </picture>
          <p class="team-container-text">
            Hobbies :<br />mountain hiking, long distance hiking, riding on a rover & cinema<br />
            Dreams :<br />
            peaceful sky over the whole Ukraine<br />
            from: Ivano-Frankivsk<br />Ukraine
          </p>
        </div>

        <div class="team-list-container">
          <h3 class="team-list-title">Bohdan Mrichko</h3>
          <p class="team-list-text">SCRUM-Master</p>
          <ul class="team-contacts">
            <li class="team-contacts-item">
              <a
                href="https://github.com/Mrichk0"
                class="team-social-link link"
                target="_blank"
                aria-label="github"
              >
                <svg class="team-social-icon icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-item">
        <div class="team-container">
          <picture>
            <source
              srcset="./images/mobile/anna-320@1x.jpg 1x, ./images/mobile/anna-320@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./images/tablet/anna-768@1x.jpg 1x, ./images/tablet/anna-768@2x.jpg 2x"
              media="(min-width: 768px) and (max-width: 1023px)"
            />
            <source
              srcset="./images/desktop/anna-1024@1x.jpg 1x, ./images/desktop/anna-1024@2x.jpg 2x"
              media="(min-width: 1024px)"
            />
            <img src="./images/mobile/anna-320@1x.jpg" alt="Photo of Anna Moldovan" />
          </picture>
          <p class="team-container-text">
            Hobbies :<br />journeys & YouTube.<br />
            Dreams :<br />
            around the world journey, learn to ride a motorbike, to found my own business<br />
            from: North Carolina<br />USA
          </p>
        </div>

        <div class="team-list-container">
          <h3 class="team-list-title">Anna Moldovan</h3>
          <p class="team-list-text">Developer</p>
          <ul class="team-contacts">
            <li class="team-contacts-item">
              <a
                href="https://github.com/MawkaA"
                class="team-social-link link"
                target="_blank"
                aria-label="github"
              >
                <svg class="team-social-icon icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-item">
        <div class="team-container">
          <picture>
            <source
              srcset="./images/mobile/sasha-320@1x.jpg 1x, ./images/mobile/sasha-320@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./images/tablet/sasha-768@1x.jpg 1x, ./images/tablet/sasha-768@2x.jpg 2x"
              media="(min-width: 768px) and (max-width: 1023px)"
            />
            <source
              srcset="./images/desktop/sasha-1024@1x.jpg 1x, ./images/desktop/sasha-1024@2x.jpg 2x"
              media="(min-width: 1024px)"
            />
            <img src="./images/mobile/sasha-320@1x.jpg" alt="Photo of Oleksandr Domanskyi" />
          </picture>
          <p class="team-container-text">
            Hobbies :<br />all kinds of sailing, journeys, table & computer games<br />
            Dreams :<br />
            around a world journey on a sailing vessel<br />
            from: Odessa<br />Ukraine
          </p>
        </div>

        <div class="team-list-container">
          <h3 class="team-list-title">Sasha Domanskyi</h3>
          <p class="team-list-text">Developer</p>
          <ul class="team-contacts">
            <li class="team-contacts-item">
              <a
                href="https://github.com/OleksandrDomanskyi"
                class="team-social-link link"
                target="_blank"
                aria-label="github"
              >
                <svg class="team-social-icon icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-item">
        <div class="team-container">
          <picture>
            <source
              srcset="./images/mobile/vadim-320@1x.jpg 1x, ./images/mobile/vadim-320@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./images/tablet/vadim-768@1x.jpg 1x, ./images/tablet/vadim-768@2x.jpg 2x"
              media="(min-width: 768px) and (max-width: 1023px)"
            />
            <source
              srcset="./images/desktop/vadim-1024@1x.jpg 1x, ./images/desktop/vadim-1024@2x.jpg 2x"
              media="(min-width: 1024px)"
            />
            <img src="./images/mobile/vadim-320@1x.jpg" alt="Photo of Vadym Melnyk" />
          </picture>
          <p class="team-container-text">
            Hobbies :<br />computers, technology, OS customization & computer games<br />
            Dreams :<br />
            learning web-dev to create something good and useful for people<br />
            from: Chernivtsi<br />Ukraine
          </p>
        </div>

        <div class="team-list-container">
          <h3 class="team-list-title">Vadym Melnyk</h3>
          <p class="team-list-text">Developer</p>
          <ul class="team-contacts">
            <li class="team-contacts-item">
              <a
                href="https://github.com/iwillywonka94"
                class="team-social-link link"
                target="_blank"
                aria-label="github"
              >
                <svg class="team-social-icon icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-item">
        <div class="team-container">
          <picture>
            <source
              srcset="./images/mobile/vova-320@1x.jpg 1x, ./images/mobile/vova-320@2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <source
              srcset="./images/tablet/vova-768@1x.jpg 1x, ./images/tablet/vova-768@2x.jpg 2x"
              media="(min-width: 768px) and (max-width: 1023px)"
            />
            <source
              srcset="./images/desktop/vova-1024@1x.jpg 1x, ./images/desktop/vova-1024@2x.jpg 2x"
              media="(min-width: 1024px)"
            />
            <img src="./images/mobile/vova-320@1x.jpg" alt="Photo of Volodymir Rubakha" />
          </picture>
          <p class="team-container-text">
            Hobbies :<br />athletics, volleyball, computer games, origami<br />
            Dreams :<br />
            to find profession, that i'd like to do the whole of my time & by that, to make people
            happy either<br />
            from: Ternopil<br />Ukraine
          </p>
        </div>

        <div class="team-list-container">
          <h3 class="team-list-title">Vova Rubakha</h3>
          <p class="team-list-text">Developer</p>
          <ul class="team-contacts">
            <li class="team-contacts-item">
              <a
                href="https://github.com/VovaRubakha"
                class="team-social-link link"
                target="_blank"
                aria-label="github"
              >
                <svg class="team-social-icon icon" width="20" height="20">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
