<footer class="footer">
  <div class="footer-container container">
    <div class="footer-section">
      <p class="footer-text">&#169; 2022 &#124; All Rights Reserved &#124;</p>
      <div class="footer-link-container">
        <p class="footer-link-text">&#160;Developed with</p>
        <div class="footer-icon-box">
          <svg class="footer-icon icon" width="14" height="13">
            <use href="./images/icons.svg#like"></use>
          </svg>
        </div>

        <p class="footer-link-text">
          by
          <a class="footer-link-first link" href="https://goit.ua/" target="_blank"
            >Go<span class="footer-link-item">IT</span></a
          >
          <a class="footer-link-second link" href="https://goit.ua/" target="_blank"
            ><span class="footer-link-item">Code</span>Busters</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
