<div class="footer-container container">
  <div class="spinner-backdrop visually-hidden">
    <div class="ring">
      Loading
      <span class="spinner-ring"></span>
    </div>
  </div>
  <div class="footer-section">
    <p class="footer-text">&#169; 2022 &#124; All Rights Reserved &#124;</p>
    <div class="footer-link-container">
      <p class="footer-link-text">&#160;Developed with</p>
      <div class="footer-icon-box">
        <svg class="footer-icon icon" width="14" height="13">
          <use href="./images/icons.svg#like"></use>
        </svg>
      </div>

      <p class="footer-link-text">
        by
        <a class="footer-link-first link" href="https://goit.ua/" target="_blank"
          >Go<span class="footer-link-item">IT</span></a
        >
        <span class="footer-modal-container">
          <a class="footer-link-second link" href=""
            >Code<span class="footer-link-item">Busters</span></a
          >
        </span>
      </p>
    </div>
  </div>
</div>
