<section class="section">
    <h3 class="visually-hidden">Film Gallery</h3>
    <div class="container">
        <div>
            <ul class="gallery">
                <li class="film">
                    <div class="film__item">
                        <img src="./images/example_mobile.png" alt="example">
                    </div>
                    <div class="film__description">
                        <h3 class="film__title">AQUARELA</h3>
                        <ul class="film__info">
                            <li class="film__genres">
                                <p>Documentary, Drama, Other</p>
                            </li>
                            <li class="film__year">
                                <p>2019</p>
                            </li>
                            <li class="film__rating">
                                <p>9.0</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="film">
                    <div class="film__item">
                        <img src="./images/example_mobile.png" alt="example">
                    </div>
                    <div class="film__description">
                        <h3 class="film__title">AQUARELA</h3>
                        <ul class="film__info">
                            <li class="film__genres">
                                <p>Documentary, Drama, Other</p>
                            </li>
                            <li class="film__year">
                                <p>2019</p>
                            </li>
                            <li class="film__rating">
                                <p>9.0</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="film">
                    <div class="film__item">
                        <img src="./images/example_mobile.png" alt="example">
                    </div>
                    <div class="film__description">
                        <h3 class="film__title">AQUARELA</h3>
                        <ul class="film__info">
                            <li class="film__genres">
                                <p>Documentary, Drama, Other</p>
                            </li>
                            <li class="film__year">
                                <p>2019</p>
                            </li>
                            <li class="film__rating">
                                <p>9.0</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="film">
                    <div class="film__item">
                        <img src="./images/example_mobile.png" alt="example">
                    </div>
                    <div class="film__description">
                        <h3 class="film__title">AQUARELA</h3>
                        <ul class="film__info">
                            <li class="film__genres">
                                <p>Documentary, Drama, Other</p>
                            </li>
                            <li class="film__year">
                                <p>2019</p>
                            </li>
                            <li class="film__rating">
                                <p>9.0</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="film">
                    <div class="film__item">
                        <img src="./images/example_mobile.png" alt="example">
                    </div>
                    <div class="film__description">
                        <h3 class="film__title">AQUARELA</h3>
                        <ul class="film__info">
                            <li class="film__genres">
                                <p>Documentary, Drama, Other</p>
                            </li>
                            <li class="film__year">
                                <p>2019</p>
                            </li>
                            <li class="film__rating">
                                <p>9.0</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="film">
                    <div class="film__item">
                        <img src="./images/example_mobile.png" alt="example">
                    </div>
                    <div class="film__description">
                        <h3 class="film__title">AQUARELA</h3>
                        <ul class="film__info">
                            <li class="film__genres">
                                <p>Documentary, Drama, Other</p>
                            </li>
                            <li class="film__year">
                                <p>2019</p>
                            </li>
                            <li class="film__rating">
                                <p>9.0</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--
                        <li class="film">
                            <div class="film__item">
                                <img src="./images/example_mobile.png" alt="example">
                                <div class="film__description">
                                    <p class="film__title">AQUARELA</p>
                                    <div class="film__info">
                                        <p class="film__genres">Documentary, Drama, Other</p>
                                        <p class="film__year">2019</p>
                                        <p class="film__rating">9.0</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        -->
            </ul>
        </div>
    </div>
</section>
