<section class="section">
  <h2 class="visually-hidden">Film Gallery</h2>
  <div class="container">
    <ul class="gallery">
      <li class="film">
        <div class="film__item">
          <img src="./images/example_mobile.png" alt="example" data-modal-open />
          <div class="film__description">
            <p class="film__title">AQUARELA</p>
            <div class="film__info">
              <p class="film__genres">Documentary, Drama, Other</p>
              <p class="film__year">2019</p>
              <p class="film__rating">9.0</p>
            </div>
          </div>
        </div>
      </li>
      <li class="film">
        <div class="film__item">
          <img src="./images/example_mobile.png" alt="example" data-modal-open />
          <div class="film__description">
            <p class="film__title">AQUARELA</p>
            <div class="film__info">
              <p class="film__genres">Documentary, Drama, Other</p>
              <p class="film__year">2019</p>
              <p class="film__rating">9.0</p>
            </div>
          </div>
        </div>
      </li>
      <li class="film">
        <div class="film__item">
          <img src="./images/example_mobile.png" alt="example" data-modal-open />
          <div class="film__description">
            <p class="film__title">AQUARELA</p>
            <div class="film__info">
              <p class="film__genres">Documentary, Drama, Other</p>
              <p class="film__year">2019</p>
              <p class="film__rating">9.0</p>
            </div>
          </div>
        </div>
      </li>
      <li class="film">
        <div class="film__item">
          <img src="./images/example_mobile.png" alt="example" />
          <div class="film__description">
            <p class="film__title">AQUARELA</p>
            <div class="film__info">
              <p class="film__genres">Documentary, Drama, Other</p>
              <p class="film__year">2019</p>
              <p class="film__rating">9.0</p>
            </div>
          </div>
        </div>
      </li>
      <li class="film">
        <div class="film__item">
          <img src="./images/example_mobile.png" alt="example" />
          <div class="film__description">
            <p class="film__title">AQUARELA</p>
            <div class="film__info">
              <p class="film__genres">Documentary, Drama, Other</p>
              <p class="film__year">2019</p>
              <p class="film__rating">9.0</p>
            </div>
          </div>
        </div>
      </li>
      <li class="film">
        <div class="film__item">
          <img src="./images/example_mobile.png" alt="example" />
          <div class="film__description">
            <p class="film__title">AQUARELA</p>
            <div class="film__info">
              <p class="film__genres">Documentary, Drama, Other</p>
              <p class="film__year">2019</p>
              <p class="film__rating">9.0</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
