<!-- menu items with logo -->
<div class="header-container">
<div class="menu-container">
    <div class="menu-logo_container">
        <a class="logo" href="./index.html"> 
            <svg 
                alt="filming tape image"
                width="24"
                height="24"> 
                <use href="./images/icons.svg#logo">
                </use>
            </svg> 
            <span class="logo_header">Filmoteka</span></a>
    </div>
    <div class="menu-nav-container">
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item_wrap current"><a class="navbar-item_link" href="./index.html"> Home</a></li>
            <li class="navbar-item_wrap"><a class="navbar-item_btn" href="./index.html">My library</a></li>
        </ul>
    </nav>
    </div>
</div>

<!-- input form -->
<div class="search-container">
    <form class="search-form" id="search-form">
      <input
        class="input-box"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Searching movies..."
      />
      <button class="search-btn" type="submit" name="submitBtn">
        <svg class="search-icon" width="9" height="9">
          <use href="./images/icons.svg#search"></use>
        </svg>
      </button>
    </form>
</div>

<!-- buttons, would be displayed onclick on my library , default display none-->
<div class="btns-container unabled">
    <button class="button-watched active">Watched</button> 
    <button class="button-queued ">Queue</button>
</div>
</div>
<!-- 1 class 'current'responsible for underlining 'home', 'my library'. remove and add class with JS on click 
    2 'btn container' default display none with class 'unabled', remove that class when click on 'my library'
    3 bg changes onclick on 'my library' by removing and adding class 'active'-->