<button data-modal-open type="button" class="button">open</button>
<!-- Модальное окно -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal__container">
    <img class="modal__img" src="./images/example.png" alt="film" />
    <div class="modal__info">
      <div class="modal__information">
        <h2 class="modal__title">A FISTFUL OF LEAD</h2>
        <ul class="modal__list">
          <li class="modal__item">
            <p class="modal__criteria">Vote / Votes</p>
            <p><span class="modal__orange">7.3</span> / <span class="modal__gray">1260</span></p>
          </li>
          <li class="modal__item">
            <p class="modal__criteria">Popularity</p>
            <p>100.2</p>
          </li>
          <li class="modal__item">
            <p class="modal__criteria">Original Title</p>
            <p>A FISTFUL OF LEAD</p>
          </li>
          <li class="modal__item">
            <p class="modal__criteria">Genre</p>
            <p>Western</p>
          </li>
        </ul>
        <h3 class="modal__about__title">ABOUT</h3>
        <p class="modal__descr">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
          the other three escapes with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to hit the very same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
      </div>
      <div class="modal__buttons">
        <button class="modal__btn" type="button">Add to watched</button>
        <button class="modal__btn" type="button">Add to queue</button>
      </div>
    </div>
    <button data-modal-close class="close-button">
      <!-- &#x2715 -->

      <svg class="close-button__icon">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
  </div>
</div>
