<nav>
  <ul class="pagination">
    <li><a href="#" class="number-arrow">&laquo;</a></li>
    <li><a href="#" class="number">&#x2026;</a></li>
    <li><a href="#" class="number">1</a></li>
    <li><a href="#" class="number active">2</a></li>
    <li><a href="#" class="number">3</a></li>
    <li><a href="#" class="number">4</a></li>
    <li><a href="#" class="number">5</a></li>
    <li><a href="#" class="number">&#x2026;</a></li>
    <li><a href="#" class="number-arrow">&raquo;</a></li>
  </ul>
</nav>
