<section class="section">
  <nav class="container">
    <ul class="pagination">
      <li><a href="#" class="number-arrow">&laquo;</a></li>
      <li><a href="#" class="number invisible">1</a></li>
      <li><a href="#" class="invisible">&#8943;</a></li>
      <li><a href="#" class="number">13</a></li>
      <li><a href="#" class="number active">14</a></li>
      <li><a href="#" class="number">15</a></li>
      <li><a href="#" class="number">16</a></li>
      <li><a href="#" class="number">17</a></li>
      <li><a href="#" class="invisible">&#8943;</a></li>
      <li><a href="#" class="number invisible">20</a></li>
      <li><a href="#" class="number-arrow">&raquo;</a></li>
    </ul>
  </nav>
</section>
