.background-header{
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  height: 230px;
  

  @include tablet {
    min-width: 768px;
    height: 216px;
    
  }
  @include desktop {
    min-width: 1024px;
    height: 216px;
    
  }
}
.header-container {
    margin: 0 auto;
    padding: 0;
    width: 320px;
    height: 230px;
    
  
    @include tablet {
      width: 768px;
      height: 216px;
      
    }
    @include desktop {
      width: 1024px;
      height: 216px;
      
    }
}
.bg-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/bg-mobil@1.jpg');
  background-image: -webkit-image-set(
    url('../images/bg-mobil@1.jpg') 1x,
    url('../images/bg-mobil@2.jpg') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 1);
  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/bg-tablet@1.jpg');
  background-image: -webkit-image-set(
    url('../images/bg-tablet@1.jpg') 1x,
    url('../images/bg-tablet@2.jpg') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 1);
  }
  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/bg-desktop@1.jpg');
  background-image: -webkit-image-set(
    url('../images/bg-desktop@1.jpg') 1x,
    url('../images/bg-desktop@2.jpg') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 1);
  }
}

.bg-2{
  margin: 0 auto;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../images/bg1-mobil@1.jpg');
  background-image: -webkit-image-set(
  url('../images/bg1-mobil@1.jpg') 1x,
  url('../images/bg1-mobil@2.jpg') 2x);
background-repeat: no-repeat;
background-size: cover;
border: 1px solid rgba(0, 0, 0, 1);
@include tablet {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../images/bg1-tablet@1.jpg');
background-image: -webkit-image-set(
  url('../images/bg1-tablet@1.jpg') 1x,
  url('../images/bg1-tablet@2.jpg') 2x
);
background-repeat: no-repeat;
background-size: cover;
border: 1px solid rgba(0, 0, 0, 1); 
}
@include desktop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../images/bg1-desktop@1.jpg');
background-image: -webkit-image-set(
  url('../images/bg1-desktop@1.jpg') 1x,
  url('../images/bg1-desktop@2.jpg') 2x
);
background-repeat: no-repeat;
background-size: cover;
border: 1px solid rgba(0, 0, 0, 1);
}
}

.transparent{
  background-image: none;
}

.navbar-item_link,
.navbar-item_btn {
  color: #ffffff;
    cursor: pointer;
  text-transform: uppercase;
  &:hover {
    color: rgba($color: #ffffff, $alpha: 0.8);

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.logo_header {
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: (35px/30px);
  display: none;

  @include tablet {
    display: inline;
  }
  @include desktop {
    display: inline;
  }
}
.menu-container {
  margin: 0;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include tablet {
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include desktop {
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
.menu-nav-container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.navbar {
  margin: 0;
  padding: 0;
}
.navbar-menu {
  display: flex;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: (14px/12px);
}
.navbar-item_wrap {
  &:last-child {
    margin-left: 40px;
  }
}

.current {
  border-bottom: 3px solid var(--accent-color);
  padding-bottom: 1px;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  @include tablet {
    margin-top: 40px;
  }
  @include desktop {
    margin-top: 40px;
  }
}

.search-form {
  position: absolute;
  transition: background 1s ease-in-out;
  &::after {
    position: absolute;
    bottom: -1px;

    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
}

.input-box {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  padding-left:1px;
  width: 260px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: (16px/14px);
}
::placeholder {
  color: rgb(188, 188, 188);
}
.search-btn {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}
.btns-container {
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    margin-bottom: 60px;
  }
  @include desktop {
    margin-bottom: 60px;
  }
}
.button + .button {
  margin-left: 20px;
}
.button {
  border: 1px solid white;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: (16px/12px);
  border-radius: 5px;
  min-width: 130px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include tablet {
    margin-right: 32px;
    min-width: 152px;
  }
  @include desktop {
    margin-right: 16px;
    min-width: 148px;
    height: 42px;
  }
}
.active {
  background-color: var(--accent-color);
  border: transparent;
}

.logo-svg {
  stroke: var(--logo-color);
  &:hover {
    stroke: var(--accent-color);

    transition: stroke 100ms ease-in;
  }
}

.button.watched,
.button.queued {
  text-transform: capitalize;
}
