.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
}

.pagination-section {
  padding-top: 0;
}

.ellipsis {
  color: var(--main-black);
}

.number-arrow {
  color: var(--main-black);
  background-color: var(--bg-color);
  border: none;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 5px;
}

.invisible {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.number {
  color: var(--main-black);
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.33;
  padding: 12px;
}

.number.active {
  background-color: var(--accent-color);
  color: #ffffff;
  border-radius: 5px;
}

.number:hover:not(.active) {
  background-color: var(--logo-color);
  border-radius: 5px;
}
