// body {
//     background-color: #fff;
//     color: var(--main-black);
// }

// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: #212121;
//         color: invert(100%);
//     }

    
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Caveat Brush', sans-serif;
    margin: 0;
}

button {
    padding: 0;
    font-family: 'Caveat Brush', sans-serif;
}

p {
    margin: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}